<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Circuit Breakers</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="/application.css" />

    <script src="/vendor/jquery.js"></script>
    <script src="/vendor/handlebars.js"></script>
    <script src="/vendor/ember.js"></script>
    <script src="/vendor/ember-data.js"></script>

    <script src="application.js"></script>
    <script src="fixtures.js"></script>

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script type="text/x-handlebars" data-template-name="application">
      <div class="container">
        <div class="navbar navbar-default" role="navigation">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Circuit Breakers</a>
          </div>

          {{#if isUpdating}}
            <p class="navbar-text text-center">
              <img src="/spinner.gif" alt="Loading" height="16" width="16" />
            </p>
          {{/if}}

          <div class="collapse navbar-collapse">
            <form class="navbar-form navbar-right" role="form">

            <div class="checkbox">
              {{refresh-switch switch=refreshEnabled}}
            </div>
            </form>
          </div>
        </div>

        {{outlet}}

        <hr />
        <footer>
          <p>&copy; 2013 Adam Hawkins. <a href="https://github.com/ahawkins/breaker">Source Code</a></p>
        </footer>
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="components/refresh-switch">
      <label for="{{unbound switchId}}">
        {{input type=checkbox id=switchId checked=switch}} Auto Refresh
      </label>
    </script>

    <script type="text/x-handlebars" data-template-name="fuses">
      <div class="row">
        {{#each controller itemController="fuseItem"}}
          <div class="col-md-4">
            <div class="fuse-item well">
              <h3 class="name">
                <span {{bindAttr class=":label statusColor"}}>{{name}}</span>
              </h3>

              <hr />
              <p><span>Timeout</span> {{timeout}} Sec.</p>

              {{#if isClosed}}
                <p><span>Failure Threshold</span> {{failureCount}}/{{failureThreshold}}</p
              {{/if}}

              {{#if lastError}}
                <p><span>Last Error</span> {{lastError}} (5 minutes ago)</p>
              {{/if}}

              {{#if isOpen}}
                <p><span>Next Reset</span> 3 minutes</p>
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
    </script>

    <script type="text/x-handlebars" data-template-name="loading">
      <div class="alert alert-info text-center"><strong>Loading</strong></div>
    </script>
  </head>

  <body>
  </body>
</html>

